<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm">

    <div class="form-group mt-3">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"/>
    </div>

    <div class="form-check mt-3 mb-3">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" value="light" type="radio" name="interfaceStyle" id="lightInterface" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="lightInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="medium" type="radio" name="interfaceStyle" id="mediumInterface" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" value="dark" type="radio" name="interfaceStyle" id="darkInterface" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control mt-2" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="notes">Notes</label>
      <textarea class="form-control" name="notes" id="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <button class="btn btn-primary mt-5">Send</button>

  </form>


  {{form.value | json}}

</div>
